@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');


:root{
    --logo-font-family: "raleway", sans-serif;
    --text-font-family:"roboto", sans-serif;
    --btn-font-family: "roboto", sans-serif;
    --brand-color:#4D5AE5;
    --headings-text-color:#2E2F42;
    --text-color:#434455;
    --btn-background-color:#F4F4FD;
    --btn-text-color:#4D5AE5;
    --btn-text-color-active:#FFFFFF;
    --btn-background-color-active:#404BBF;
    --hero-background-color:#2E2F42;
}

a.logo{
    font-family: var(--logo-font-family);
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    color: var(--brand-color);
    text-decoration: none;
}
ul {
    list-style-type: none;
}
nav a{
        font-family: var(--text-font-family);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        text-decoration: none;
        color: var(--text-color);
}
address a{
        font-family: var(--text-font-family);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        text-decoration: none;
        color: var(--text-color);
}
button{
        font-family: var(--btn-font-family);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--btn-text-color);
        background-color: var(--btn-background-color);
}
button.active{
        font-family: var(--btn-font-family);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--btn-text-color-active);
        background-color: var(--btn-background-color-active);
}
.hero{
    background-color: var(--hero-background-color);
}
.hero h1{
        font-family: var(--text-font-family);
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #fff;
}
h2{
    
        font-family: var(--text-font-family);
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--headings-text-color);
}
h3{
        font-family: var(--text-font-family);
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--headings-text-color);
}
p{
        font-family: var(--text-font-family);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--text-color);
}
.team{
    background-color: #F4F4FD;
}
footer{
    background-color: var(--hero-background-color);
}